{% extends 'base.html' %}

{% block head %}

<h1><title>
                    Input devices     </title></h1>
{% endblock %}



{% block body %}

        <header>
    <div class="row top-div" id="top_div">
        <div class="container">

            <div class="col-sm-7 main-site-title">
                <h1>Computer devices-input and output</h1>
            </div>


            <div class="col-sm-1 locale-div"></div>

        </div>
    </div>


    <nav class="navbar navbar-default" id='nav_bar'>

        <div class="header-upper-row">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="header-bottom-row">
            <div class="container">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}" >Start</a></li><li class="active"><a href="javascript:;">Input </a></li><li><a href="{{ url_for('output') }}" >Output</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</header>

<link media="all" type="text/css" rel="stylesheet" href="https://radinaradionica.com/css/lightbox.css">
<section class="content-section">
    <div class="container content-container">
        <h2 class="main-title">Ulazni uređaji </h2>
        <div class="row">

            <div class="col-sm-12 content-col">
                <div class="text-wrapper">
                                            <h3 class="medium-title">Tastatura i miš</h3>
                                                                                                                <div class="imgdiv col-sm-4">
                            <a href="https://radinaradionica.com/pictures/item_id/68/picture-1510432955.jpg"
                                data-lightbox="preview-68" title="">
                                    <img src="https://static.limundoslike.com/originalslika_Sharkoon-Skiller-gaming-keyboard-252167917.jpg"
                                        alt="" title="" />
                            </a>
                        </div>
                                                <div class="imgdiv col-sm-4">
                            <a href="https://radinaradionica.com/pictures/item_id/68/picture-1510432962.jpg"
                                data-lightbox="preview-68" title="">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/61SrdXckX1L._SL1000_.jpg"
                                        alt="" title="" />
                            </a>
                        </div>
                                                <div class="imgdiv col-sm-4">
                            <a href="https://radinaradionica.com/pictures/item_id/68/picture-1510432969.jpg"
                                data-lightbox="preview-68" title="">
                                    <img src="https://silvergear.eu/wp-content/uploads/2019/08/muis-1000x1000-1.jpg"
                                        alt="" title="" />
                            </a>
                        </div>

                    <div class="text-block">
                        <p><p style="text-align: justify;"> Tastatura je osnovni ulazni uređaj na računarima. Sastoji se od odeređenog broja alfanumeričkih tastera (slova i brojke), tasetera sa specijalnim znacima (initerpunkcija, zagrade, aritmetičke operacije, razmnak...), kao i određenog broja tastera posebne namene (funkcijski tasteri, tasteri za kretanje, kontrolni tasteri, brisanje, unos...). Standardna tastatura, ima 101 taster, ali njihov broj može biti i veći, zavisno od broja dodatnih tastera. </p>
                        <p><p style="text-align: justify;"> Miš predstavlja osnovni uređaj za unos pozicionih informacija. Iako se tokom godina menjao, osnovna namena mu je ostala ista. Pomeranjem miša po podlozi ili stolu pomera se i pokazivač ( mouse pointer) na ekranu. Klikom na neko dugme miša poziva se odgovarajuća akcija operativnog sistema ili aplikacije.</p>
<p style="text-align: justify;">&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 content-col">
                <div class="text-wrapper">
                                            <h3 class="medium-title">Grafička tabla i skener</h3>
                                                                                                                <div class="imgdiv col-sm-6">
                            <a href="https://radinaradionica.com/pictures/item_id/111/picture-1511116825.jpg"
                                data-lightbox="preview-111" title="">
                                    <img src="https://www.trafika.online/images/product/original/4949268619424-wacom-tabla-intuos-art-black-pt-s-(cth-490ak-n)-0.jpg"
                                        alt="" title="" />
                            </a>
                        </div>
                                                <div class="imgdiv col-sm-6">
                            <a href="https://radinaradionica.com/pictures/item_id/111/picture-1511116918.jpg"
                                data-lightbox="preview-111" title="">
                                    <img src="https://hoopla.rs/upload/products/693/5/thumbs2/11ba0b9f177352d04a0ad3a1622114b0.jpg"
                                        alt="" title="" />
                            </a>
                        </div>

                    <div class="text-block">
                        <p><p style="text-align: justify;"> GRAFIČKA TABLA predstavlja ulazni uređaj namenjen prvenstveno radu sa grafikom. Ovaj uređaj se sastoji iz dve komponente – posebne radne površine (table) koja registruje poziciju i olovke koja registruje pritisak. Olovka može biti povezana kablom za tablu ili bežična, što je u novije vreme češći slučaj. Sama tabla je uobičajeno povezana kablom sa računarom.</p></p>
                        <p><p style="text-align: justify;"> SKENER je uređaj za digitalizaciju slike. Može biti izveden kao ručni ili stoni. Ručni skeneri se danas manje koriste, a upotrebljavaju se ukoliko je potrebno skenirati nedostupne površine. Nedostatak im je što se skeniranje mora obavljati pažljivo, nepromenljivom brzinom da ne bi došlo do deformacija slike. Stoni skeneri imaju providnu površinu na koju se stavlja slika koju je potrebno digitalizovati. U unutrašnjosti skenera nalazi se izvor svetlosti i optički senzor koji vrši digitalizaciju slike.</p></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="https://radinaradionica.com/js/lightbox.min.js"></script>
        <div class="scroll-top hidden-xs" title="Na vrh stranice">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
        <footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="fb-like"
         data-href="https://radinaradionica.com/rs/racunari"
         data-layout="button_count"
         data-action="like"
         data-show-faces="false"
         data-share="true"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}